@font-face {
    font-family: Lexend;
    src: url(fonts/Lexend/Lexend-VariableFont_wght.ttf);
}
@font-face {
    font-family: Hind Madurai;
    src: url(fonts/Hind_Madurai/HindMadurai-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0E1A23;
    color: #F0F7F4;
    width: 100%;
}
header{
    background-color: #0B141A;
    position: sticky;
    display: flex;
    flex-direction: row;
    min-height: 120px;
    font-family: 'Lexend';
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 0;
    z-index: 1;
    width: 100%;
}
footer{
    background-color: #0B141A;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Lexend';
    text-align: center;
    height: 10vh;
    width: 100%;
}
header img{
    max-width: 150px;
}
header p{
    width: 20%;
    align-items: center;
}
nav{
    width: 80%;
    position: relative;
    text-align: center;
    font-size: large;
    font-weight: bold;
    z-index: 1;
}
header li{
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 2vw 2vw;
}
a{
    color: #F0F7F4;
    text-decoration: none;
    transition: ease-out 0.25s;
}
a:hover:not(#img){
    font-weight: bolder;
    color: #949494;
    font-size: larger;
}
div.baner{
    min-height: fit-content;
    position: relative;
}
img#baner{
    width: 100%;
    opacity: 50%
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered p{
    font-family: Lexend;
    font-size: 2vw;
    color: #d0d4d2;
    text-align: center;
}
.centered span{
    color: #a81a12;
    font-weight: bold;
}
#content{
    position: relative;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    z-index: 0;
}
section{
    font-family: 'Hind Madurai';
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
}
article#title, article#rywalizacja{
    flex: 100% !important;
}
article h1{
    font-family: 'Lexend';
    text-align: center;
    font-size: xx-large;
    margin: 50px;
}
article{
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    flex: 40%;
    font-size: large;
}
article h3{
    padding: 20px;
    text-align: center;
}
article video{
    width: 100%;
}
article img{
    width: 100%;
}
article p{
    padding: 10px;
}
article p span{
    font-weight: bold;
    color: #a81a12;
}
ul#rywalizacja{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
}
ul#rywalizacja li{
    flex: 40%;
    padding: 20px;
}
li h3{
    text-decoration: underline;
}
article img{
    width: 100%;
}
article#img{
    text-align: center;
}
section#calendar{
    text-align: center;
}
section#calendar article{
    flex: 30%;
    display: inline-block;
}
section#calendar table{
    margin: 0 auto;
}
section#calendar h2{
    padding: 30px;
}
section#calendar tr{
    height: min(5vw, 50px);
}
section#calendar th{
    width: min(5vw, 50px);
}
section#calendar ul{
    list-style-type: none;
}
section#calendar li{
    padding: 20px;
    margin: 10px;
    display: inline-flex;
    border-radius: 5%;
}
#practice{
    background-color: #145c26 ;
    border-radius: 50%
}
#sprint{
    background-color: #00466e
}
#qual{
    background-color: #a81a12
}
#grand{
    background-color: #e2a600;
    border-radius: 50%
}
#sprintShoot{
    background-color: #5e04a8;
}
#praSprint{
    background: linear-gradient(
        to right,
        #145c26 0%,
        #145c26 50%,
        #5e04a8 50%,
        #5e04a8 100%
    );
    border-radius: 50%
}
#praQual{
    background: linear-gradient(
        to right,
        #145c26 0%,
        #145c26 50%,
        #a81a12 50%,
        #a81a12 100%
    );
    border-radius: 50%
}
#sprintQual{
    background: linear-gradient(
        to right,
        #00466e 0%,
        #00466e 50%,
        #a81a12 50%,
        #a81a12 100%
    );
    border-radius: 50%
}
section#tory{
    justify-content: center;
}
section#tory article{
    margin-left: 3vw;
    margin-right: 3vw;
}
hr{
    size: 2;
    color: #F0F7F4;
    width: 90%;
}