@font-face {
    font-family: Lexend;
    src: url(fonts/Lexend/Lexend-VariableFont_wght.ttf);
}
@font-face {
    font-family: Hind Madurai;
    src: url(fonts/Hind_Madurai/HindMadurai-Regular.ttf);
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: row;
        text-align: center;
        padding: 10px 0;
        flex: 20%;
    }

    header p, nav {
        width: 100%;
    }

    nav {
        font-size: medium;
    }

    header li {
        padding: 1.5vw 2vw;
    }

    .centered p {
        font-size: 3.5vw;
    }

    article {
        flex: 100%;
        margin: 20px 10px;
        width: 50%;
    }

    .rywalizacja ul li {
        flex: 100%;
    }

    section#calendar article {
        flex: 100%;
    }

    section#zespoly article {
        flex: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #0E1A23;
    color: #F0F7F4;
    width: 100%;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

header {
    background-color: #0B141A;
    position: sticky;
    display: inline-flex;
    min-height: 120px;
    font-family: 'Lexend';
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 0;
    z-index: 1;
    width: 100%;
    font-size: clamp(1rem, 1.8vmin, 1.2rem)
}

footer {
    background-color: #0B141A;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Lexend';
    text-align: center;
    height: fit-content;
    width: 100%;
}

footer p{
    width: 100%;
    flex: 100%;
    padding: 20px;
}

header img {
    max-width: 150px;
    padding: 1em;
}

header p {
    width: 20%;
    align-items: center;
}
header ul{
    gap: 20px;
}

nav {
    width: 80%;
    position: relative;
    text-align: center;
    font-size: clamp(1.5rem, 3.5vw, 2rem);
    font-weight: bold;
    z-index: 1;
}

nav li {
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 2vw 2vw;
    font-size: clamp(1rem, 2vmin, 1.3rem);
}
header img{
    float: left;
}
a {
    color: #F0F7F4;
    text-decoration: none;
    transition: ease-out 0.25s;
}

a:hover:not(#img) {
    font-weight: bolder;
    color: #949494;
    background-color: #5e5e5e34;
    border-radius: 5em;
    padding: 10px;
}

div.baner {
    min-height: fit-content;
    position: relative;
}

img#baner {
    width: 100%;
    opacity: 50%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered p {
    font-family: Lexend;
    color: #d0d4d2;
    font-size: clamp(1.2rem, 3.5vw, 2.5rem);
    text-align: center;
}

.centered span#red{
    color: #a81a12;
    font-weight: bold;
}

section {
    font-family: 'Hind Madurai';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
}

article.title{
    flex: 100% !important;
}

article h1 {
    font-family: 'Lexend';
    text-align: center;
    margin: 2%;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

article{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    flex: 40%;
}

article h3 {
    padding: 20px;
    text-align: center;
}

article video {
    width: auto;
}
video, img:not(header img, footer img){
    min-width: 300px;
}

article img {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

article p {
    padding: 10px;
}

article p span {
    font-weight: bold;
    color: #a81a12;
}

article.rywalizacja{
    flex: 100%;
}

article.rywalizacja ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

article.rywalizacja li{
    width: 50%;
    padding: 20px;
}

li h3 {
    text-decoration: underline;
}

article.img {
    text-align: center;
}

section#calendar {
    text-align: center;
}

section#calendar article {
    flex: 30%;
    display: inline-block;
}

section#calendar table {
    margin: 0 auto;
}

section#calendar h2 {
    padding: 30px;
}

section#calendar tr {
    height: min(5vw, 50px);
}

section#calendar th {
    width: min(5vw, 50px);
}

section#calendar ul {
    list-style-type: none;
}

section#calendar li {
    padding: 20px;
    margin: 10px;
    display: inline-flex;
    border-radius: 5em;
}

.practice {
    background-color: #145c26;
    border-radius: 50%;
}

.sprint {
    background-color: #00466e;
}

.qual {
    background-color: #a81a12;
    border-radius: 50%;
}

.grand {
    background-color: #e2a600;
    border-radius: 50%;
}

.sprintShoot {
    background-color: #5e04a8;
}

.praSprint {
    background: linear-gradient(to right, #145c26 0%, #145c26 50%, #5e04a8 50%, #5e04a8 100%);
    border-radius: 50%;
}

.praQual {
    background: linear-gradient(to right, #145c26 0%, #145c26 50%, #a81a12 50%, #a81a12 100%);
    border-radius: 50%;
}

.sprintQual {
    background: linear-gradient(to right, #00466e 0%, #00466e 50%, #a81a12 50%, #a81a12 100%);
    border-radius: 50%;
}

section#tory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    
}

section#tory article{
    flex: 35%;
}

hr {
    size: 2;
    color: #F0F7F4;
    width: 90%;
}

section#zespoly {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

section#zespoly article{
    flex: 35%;
    margin: 2vw;
}
section#zespoly img{
    max-width: 70%;
    display: block;
    margin: auto;
    padding: 20px;
}

img, video {
    max-width: 100%;
    height: auto;
}

section#zespoly article.img{
    background-color: #5e5e5e34;
    background-clip: content-box;
    border-radius: 5em;
}

section#kierowcy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    text-align: center;
}
section#kierowcy img{
    max-width: 80%;
    margin: 20px;
    border-radius: 5em;
}

section#kierowcy table{
    table-layout: fixed;
    width: 80%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #5e5e5e34;
    border-radius: 5em;
    padding: 20px;

}

section#kierowcy tr {
    height: min(2vw, 50px);
    border-bottom: #d0d4d2 solid 1px;
}

section#kierowcy td {
    width: min(2vw, 50px);
    word-break: break-word;    
    overflow-wrap: break-word; 
    white-space: normal;
}

.ikony img{
    width: 2em;
    vertical-align: middle;
    padding-right: 5px;
}
p.ikony{
    vertical-align: middle;
}
section#form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}
section#form article{    
    flex: 100%;
}

section#form form{
    font-family: Lexend;
}
section#form table{
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    background-color: #0B141A;
    border-radius: 5em;
}

section#form tr{
    height: 5em;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="date"],select{
    background-color: #0E1A23;
    color: #F0F7F4;
    font-family: Lexend;
    background-clip: content-box;
    border-radius: 5em;
    border: none;
    height: 5vmin;
    width: 50vmin;
    text-align: center;
}

input[type="radio"]{
    text-align: center;
    accent-color: #0b141a75;
    margin-left: 4em;
    margin-right: 1em;
}
input[type="checkbox"]{
    accent-color: #0b141a75;
}

section#form button{
    background-color: #0E1A23;
    color: #F0F7F4;
    font-family: Lexend;
    background-clip: content-box;
    border-radius: 5em;
    border: none;
    height: 5vmin;
    width: 20vmin;
}

button:hover{
    font-weight: bolder;
    color: #949494;
    height: 6vmin;
}
label{
    font-weight: bold;
}
textarea{
    background-color: #0E1A23;
    color: #F0F7F4;
    font-family: Lexend;
    background-clip: content-box;
    border-radius: 5em;
    border: none;
    height: 10vmin;
    width: 50vmin;
    text-align: center;
    vertical-align: middle;
    resize: none;
}